header {
	
	background-color: white;
	font-family: Arial;
	
}
header nav ul #loginout{
	float:right;
	
}

#utdWordMark{
	color: orange;
}
header nav a {
	
	color: white;
	 text-decoration: none ;
	 

}

nav {
	font-size:  115%;
background-color: #69BE28;
height: 3.5 %;
}


header nav ul li{
	display: inline
}

header nav ul li a:hover {
	color: #FFB612;
}

a{
	text-decoration: none;

}

td{
	font-family: Arial;
	font-size: 50;
}

td a:hover{
	color: #008542;
	
}

td a:active{
	background-color: 
}

caption h1{
	color: #C75B12;
}

td:hover{
	background-color: aliceblue; 
}

body #menu{
		margin-right: 35%;
	margin-left: 35%;
	align-content: center;
	background-color: #FFFFFF;
	font-size: 115%;
	
}

footer{
	background-color: #69BE28 ;
	color: white;
	font-size: 115%;
}