
header {
	
	background-color: white;
	font-family: Arial;
	color: orange;
}
h2{
	text-align: center;
}
header nav a {
	
	color: white;
	 text-decoration: none ;

}


header nav ul #loginout{
	float:right;
	
}

nav {
background-color: #69BE28;
}


header nav ul li{
	display: inline
}

header nav ul li a:hover {
	color: #FFB612;
}

a{
	text-decoration: none;
}


body,html,aside, nav{
	height: 100%;
}
#utdWordMark {
	
	background-color: white;
	font-family: Arial;
	color: orange;
}

h3{
	font-family: Arial;
	margin-left: 25 px;
	color: #C75B12 ;
}

article{
	font-family: Arial ;
	margin-right: 20% ;
	float: left;
	text-align: left;

}

.AItrack{
	font-family: Helvetica ;
	margin-left: 45 px;
	color: green;
	font-size: 10 pt;
}



a:hover{
	color: darkseagreen;
}
a:visited{
			 	text-decoration: none ;
			 	
}

aside{
	
	margin-left: 80% ;
	width: 20%;
	position: absolute;
	float: right;
	background-color: #69BE28;
}


#ul_navigation{
	list-style-type: none;
	
}

.li_navigation  {
	
    width: 100%;
   
}

.li_navigation   a {
	display: block;
	text-decoration: none ;
    margin: 5 px;
}

.li_navigation a:hover{
	color: #FFB612;
	background-color: white;
}

.li_navigation a:active{
	color: #C9DD03;
	/*background-color: white;*/
}


footer{
	background-color: #69BE28 ;
	font-size: 115%;

}
footer div{
	text-align: center;
	font-weight: bold;



}
footer a {
	color: white;
}

table {
    border-collapse: collapse;
}

th{
	background-color: #008542 ;
	color:white;
}

tr{
	background-color: #FFB612 ;
	color: white;
}

#content{
	margin-left: 25%;
	margin-right: 25%;

}

.buttons{
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  
  background-color: #69BE28;
 
  border-radius: 15px;

}

form label{
	font-size: 120%;
}

a:hover{
	color:yellow;
}